@keyframes slide-in-from-top {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.number-table {
    border-collapse: collapse;
}

.number-row {
    padding-left: 3px;
    animation: 0.16s ease-in 0s slide-in-from-top;
    border-bottom: 1px solid #444444;
    padding: 1rem;
    border-collapse: collapse;
}

.number-row-player {
    width: 6rem;
}

.number-row-number {
    width: 7rem;
}